parserOptions:
    sourceType: module

env:
    node: true

extends:
    "eslint:recommended"

globals:
    d3: true
    queue: true
    window: true
    topojson: true

rules:
    no-cond-assign: 0
    no-floating-decimal: 2
    no-sparse-arrays: 0
