body {
    margin: 0;
}
#earth, #three-js, canvas, .top {
    position: absolute;
    left: 0;
    top: 0;
}
#three-js, canvas {
    pointer-events: none;
}
#earth {
    z-index: 2;
}
canvas, .top {
    /*position: relative;*/
    z-index: 3;
}
.land path{
    fill: rgb(117, 87, 57);
    stroke-opacity: 1;
}
.lakes path {
    fill: rgb(80, 87, 97);
    stroke-opacity: 1;
}
.countries path {
    stroke: rgb(80, 64, 39);
    stroke-linejoin: round;
    stroke-width: 1.5;
    fill: rgb(117, 87, 57);
    opacity: 1;
}
.countries path:hover {
    stroke-width:1;
    fill: rgb(187, 187, 27);
    opacity: 1;
}
.countries path:not([d]),
.points path:not([d]) {
    opacity: 0;
}
.ocean {
    fill: url(#ocean);
}
.graticule path {
    fill: none;
    opacity: 0.2;
    stroke: black;
    stroke-width: 0.5;
}
.labels {
    font: 8px sans-serif;
    fill: black;
    opacity: .5;
}
.noclicks {
    pointer-events:none;
}
.point{
    opacity:.6;
    fill: #A80;
}
.countryTooltip,
.barTooltip {
    background: #fff;
    border: solid #ccc 1px;
    color: #666;
    display: none;
    font-family: sans-serif;
    font-size: 14px;
    padding: 5px;
    pointer-events: none;
    position: absolute;
    text-align: left;
    z-index: 3;
}
.set-options {
    position: absolute;
    z-index: 999;
    /*top: 25px;*/
}
